<div class="sidebar">

  <h3> Navigation </h3>

      <% if session[:user_id] %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
    <br>
    <br>
    <%= link_to 'Home', home_path, method: :get %>

</div>
